
/* STYLES FOR THE HOME PAGE */


*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: Verdana;
}

nav {
	background: linear-gradient(black, gray, white);
	height: 80px;
	width: 100%;
}

nav ul {
	float: right;
	font-family:'Courier New', Courier, monospace, sans-serif;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: whitesmoke;
	font-size: 18px;
	padding: 8px 15px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.acitve, a:hover{
	 background: salmon;
	 text-transform: .5s;
}

h1.logo {
	color: whitesmoke;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}


.container {
	display: flex;
	border: 1px;
	padding: 5px;
}

img {
	font-style: italic;
	height: 200px;
	width: 1440px;
	padding-bottom: 5%;
}

/* TOP NAVIGATION STYLE */
 /* ?? add a black-and-white-gradient background color to the top navigation bar */

 /*.topnav {
	padding: 20px 22px;
	background-color: red;
	width: 100%; 
 } */
 
/*
>> Style links inside navigation bar
div .topnav a {
	color: black; >>TEXT COLOR
	text-decoration: none;
	font-size: 20px;
	font-style: Verdana;
	float: right;
}
*/

/* CHANGE THE COLOR OF THE LINKS ON 'HOVER' */

/*.topnav a:hover {
	color:salmon;
	float:right;
}

/* MAIN */

h1 {
	font-family: Papyrus, Verdana, sans-serif;
	font-size: 60px;
	font-style: oblique;
	text-align: center;
}

p {
	font-family: verdana, sans-serif;
	font-size: 30px;
	font-style: oblique;
	text-align: center;
}

/* END OF BASE STYLES */

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}